<h3>Search For Images using the search bar</h3>
<input type="text" placeholder="Look up Characteristic" name="search" #myInput>
<button type="submit" (click) = 'selectCharacteristic(myInput.value)' >Search</button>

<h3>Search For Images using by selecting the different characteristic options</h3>
<div class="row">
    <div *ngFor="let char of characteristics">
        <div (click) = 'selectCharacteristic(char.characteristic)' class="padding">
            <div class="card padding">
                {{char.characteristic}}
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div *ngFor="let image of images">
        <div class="padding" >
            <app-image [image]=image></app-image>
        </div>
    </div>
</div>



